<div class="container">
    <div class="title-container"><h1>Lista de Notificaciones</h1></div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="messageNotification">
           <th mat-header-cell *matHeaderCellDef> Mensaje </th>
           <td mat-cell *matCellDef="let element"> {{element.messageNotification}} </td>
         </ng-container>

          <ng-container matColumnDef="dateShipNotification">
           <th mat-header-cell *matHeaderCellDef> Fecha</th>
           <td mat-cell *matCellDef="let element"> {{element.dateShipNotification}} </td>
          </ng-container>
          <ng-container matColumnDef="stateNotification">
            <th mat-header-cell *matHeaderCellDef>Estado notificacion </th>
            <td mat-cell *matCellDef="let element"> {{element.stateNotification}} </td>
           </ng-container>


           <ng-container matColumnDef="movement">
            <th mat-header-cell *matHeaderCellDef> idmovement </th>
            <td mat-cell *matCellDef="let element"> {{element.movement}} </td>
           </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let element">
              <button class="btn" (click)="eliminanotificacion(element.idNotification)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         </table>
         <br>
         <mat-paginator [pageSizeOptions]="[4, 20, 100]"
         showFirstLastButtons
         aria-label="Select page of periodic elements">
     </mat-paginator>
  </div>

