<app-header></app-header>
<section class="nosotros text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div
            class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium ">Nuestra Historia
                <br class="hidden lg:inline-block">
            </h1>
            <p class="mb-8 leading-relaxed">
                En la universidad, un grupo de estudiantes identificaron las frustraciones de los clientes
                con los servicios bancarios tradicionales. Esto los inspiro a crear PAPAY,
                una aplicación que busca simplificar las finanzas, especialmente para las
                personas mayores, ofreciendo soluciones personalizadas y de fácil uso.
            </p>
        </div>
        <div class="img lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
            <img class="object-cover object-center rounded" alt="imghistoria" src="assets/images/imghistoria.png">
        </div>
    </div>
</section>


<section>
    <div class="mision-vision">
        <div class="mision">
            <h1><b>Nuestra Misión</b></h1>
            <p>
                Es ser un socio confiable para nuestros clientes, ofreciendo 
                servicios financieros que comprendan sus necesidades y
                proporcionen soluciones personalizadas y transparentes
            </p>
            <img  src="assets/images/mision.png">
        </div>
        <div class="vision">
            <h1><b>Nuestra Visión</b></h1>
            <p>
                Aspiramos a ser reconocidos por proporcionar a nuestros 
                clientes pensionistas soluciones que se adapten a sus
                necesidades individuales.
            </p>
            <img src="assets/images/vision.png">
        </div>
    </div>
</section>


<section>
    <div class="valores">
        <div class="titulo">
            <h5>NUESTROS</h5>
            <h1><b>Valores</b></h1>
        </div>
        <div class="valor">
        <div class="compromiso">
            <img src="assets/images/compromiso1.png">
            <h1><b>Compromiso</b></h1>
            <p>
                Comprometido con los clientes
            </p>
        </div>
        <div class="responsabilidad">
            <img src="assets/images/responsabilidad1.png">
            <h1><b>Responsabilidad</b></h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
        </div>
        <div class="seguridad">
            <img src="assets/images/seguridad1.png">
            <h1><b>Seguridad</b></h1>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
        </div>
        </div>
    </div>
</section>



<section class="perfil">
    <h1 class="titulo"><b>Team PAPAY</b></h1>
    <div class="lider">
        <h1><b>leader</b></h1>
        <div class="seccion-perfil-usuario">
            <div class="perfil-usuario-portada">
                <img src="assets/perfiles/tamara.jpg" alt="tamara">
            </div>
            <h3><b>García De la Cruz, Damaris Tamara</b></h3>
            <div class="redes-sociales">
                <a href="" class="boton-redes linkedin fab fa-linkedin"><i class="icon-linkedin"></i></a>
                <a href="" class="boton-redes github fab fa-github"><i class="icon-github"></i></a>
                <a href="" class="boton-redes facebook fab fa-facebook-f"><i class="icon-facebook"></i></a>
            </div>
        </div>
    </div>
    <div class="integrantes">
    <div class="seccion-perfil-usuario">

            <div class="perfil-usuario-portada">
                <img src="assets/perfiles/jhulisa.png" alt="jhulisa">
            </div>
                <h3><b>Rodas Burga, Jhulisa</b></h3>
            <div class="redes-sociales">
                <a href="" class="boton-redes linkedin fab fa-linkedin"><i class="icon-linkedin"></i></a>
                <a href="" class="boton-redes github fab fa-github"><i class="icon-github"></i></a>
                <a href="" class="boton-redes facebook fab fa-facebook-f"><i class="icon-facebook"></i></a>
        </div>
    </div>
    <div class="seccion-perfil-usuario">
    
        <div class="perfil-usuario-portada">
            <img src="assets/perfiles/nayeli.jpeg" alt="nayeli">
        </div>
        <h3><b>Caceres Huaman, Summy Nayeli</b></h3>
        <div class="redes-sociales">
            <a href="" class="boton-redes linkedin fab fa-linkedin"><i class="icon-linkedin"></i></a>
            <a href="" class="boton-redes github fab fa-github"><i class="icon-github"></i></a>
            <a href="" class="boton-redes facebook fab fa-facebook-f"><i class="icon-facebook"></i></a>
        </div>
    </div>
    
    <div class="seccion-perfil-usuario">
    
        <div class="perfil-usuario-portada">
            <img src="assets/perfiles/kevin.jpeg" alt="kevin">
        </div>
        <h3><b>Dextre Miguel, kevin Cosner</b></h3>
        <!--target="_blank" para abrir un enlace en una nueva ventana-->
        <div class="redes-sociales">
            <a href="https://www.linkedin.com/in/kevin-dextre-miguel-19b545254" target="_blank" class="boton-redes linkedin fab fa-linkedin"><i class="icon-linkedin"></i></a>
            <a href="https://github.com/KevinDextreMiguel" target="_blank" class="boton-redes github fab fa-github"><i class="icon-github"></i></a>
            <a href="https://www.facebook.com/kevincosner.dextremiguel.7?mibextid=ZbWKwL" target="_blank" class="boton-redes facebook fab fa-facebook-f"><i class="icon-facebook"></i></a>
        </div>
    </div>
    <div class="seccion-perfil-usuario">
    
        <div class="perfil-usuario-portada">
            <img src="assets/perfiles/maria.png" alt="maria">
        </div>
        <h3><b>Alminagorda Gala, Maria</b></h3>
        <div class="redes-sociales">
            <a href="" class="boton-redes linkedin fab fa-linkedin"><i class="icon-linkedin"></i></a>
            <a href="" class="boton-redes github fab fa-github"><i class="icon-github"></i></a>
            <a href="" class="boton-redes facebook fab fa-facebook-f"><i class="icon-facebook"></i></a>
        </div>
    </div>
    </div>
</section>

<app-footer></app-footer>

